.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive; /* Change to your preferred romantic font */
  color: #ff3366; /* Romantic pink color */
  text-align: center;
  padding: 20px;
}

.heart-bears {
  width: 300px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
}

.kissing-bears {
  width: 300px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px;
}

.question {
  font-size: 24px; /* Adjust the font size */
  margin-bottom: 20px;
}

.text {
  font-size: 28px; /* Adjust the font size */
  font-style: italic; /* Italics for a romantic touch */
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.yesNoContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.yesButton {
  font-size: 20px; /* Adjust the font size */
  background-color: #ff3366; /* Romantic pink color */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.noButton {
  font-size: 20px; /* Adjust the font size */
  background-color: #ffc0cb; /* Light pink color for a romantic feel */
  color: #333;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.playPauseButton {
  background-color: pink;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.playPauseButton:hover {
  background-color: #ff66b2; /* Lighter pink on hover */
}
